html,
body {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Puritan", sans-serif;
	height: 100vh;
}

h1,
h2,
h3 {
	font-family: "Pattaya", sans-serif;
	color: rgba(39, 116, 47, 1);
}

h1 {
	font-size: 36px;
}

.hero {
	width: 100%;
	height: 33vh;
	background-image: url("./images/kwiaty.jpg");
	font-size: 72px;
	color: white;
	text-align: center;
	line-height: 296px;
	font-family: "Pattaya", sans-serif;
}

.navbar {
	background-color: #f3f3f3;
	height: 50px;
	margin-top: -50px;
}

.nav-list {
	width: 95%;
	list-style: none;
	padding: 0 auto;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-family: "Puritan", sans-serif;
}

.nav-item {
	margin: 0 15px;
	line-height: 50px;
	text-align: center;
	text-transform: uppercase;
}

.main-article {
	text-align: center;
	width: 60%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-article > .text {
	line-height: 25px;
	font-size: 20px;
}

.secondary-button {
	width: 260px;
	height: 42px;
	background-color: rgba(39, 116, 47, 0.23);
	border-radius: 15px;
	font-family: inherit;
	font-size: inherit;
	border: none;
}

.categories {
	width: 100%;
	height: 33vh;
	background-color: rgba(39, 116, 47, 0.23);
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.category {
	margin: 20px 60px;
}

.round-pic {
	background-size: cover;
	width: 150px;
	height: 150px;
	border: 5px solid white;
	border-radius: 50%;
}

.round-pic.pic-1 {
	background-image: url("./images/petunia.jpeg");
}

.round-pic.pic-2 {
	background-image: url("./images/pomidor.jpg");
}

.round-pic.pic-3 {
	background-image: url("./images/bazylia.jpg");
}

.primary-button {
	background-color: rgba(39, 116, 47, 1);
	width: 160px;
	height: 38px;
	margin-top: 20px;
	border-radius: 15px;
	font-size: inherit;
	font-family: inherit;
	color: white;
}

.article-section {
	width: 60%;
	margin: 80px auto;
}

.article {
	display: flex;
	margin-bottom: 30px;
}

.article-wrapper {
	flex: 1;
	padding-right: 80px;
}

.article-image {
	flex: 1;
	width: 350px;
	height: 200px;
	background-size: cover;
}

.article-image.img-1 {
	background-image: url("./images/cienie.jpg");
}

.article-image.img-2 {
	background-image: url("./images/img_0008.jpg");
	background-position-y: 60%;
}

.article-image.img-3 {
	background-image: url("./images/ziola-na-balkonie.jpg");
}

.photo-gallery > .secondary-header {
	width: 100%;
	background-color: rgba(39, 116, 47, 1);
	color: white;
	text-align: center;
	padding: 20px 0;
}

.grid-gallery {
	width: 60%;
	height: 500px;
	margin: 80px auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	column-gap: 20px;
	row-gap: 20px;
}

.photo {
	background-size: cover;
	background-position: center;
	transition: transform 0.3s ease-in;
}

.photo:hover {
	transform: scale(1.2);
}

.photo-1 {
	background-image: url("./images/balkon-1.jpg");
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

.photo-2 {
	background-image: url("./images/balkon-2.jpg");
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
}

.photo-3 {
	background-image: url("./images/balkon-3.jpg");
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 3;
}

.photo-4 {
	background-image: url("./images/balkon-4.jpg");
	grid-column-start: 5;
	grid-column-end: 7;
	grid-row-start: 1;
	grid-row-end: 2;
}

.photo-5 {
	background-image: url("./images/balkon-5.jpg");
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 1;
}

.photo-6 {
	background-image: url("./images/balkon-6.jpeg");
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 4;
}

.photo-7 {
	background-image: url("./images/balkon-7.jpg");
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
}

.photo-8 {
	background-image: url("./images/balkon-8.jpg");
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
}

.photo-9 {
	background-image: url("./images/balkon-9.jpg");
	grid-column-start: 5;
	grid-column-end: 7;
	grid-row-start: 2;
	grid-row-end: 3;
}

.photo-10 {
	background-image: url("./images/20136875-na-tym-tarasie-aromatow-jest-caly-bukiet-w-sloncu.jpeg");
	grid-column-start: 4;
	grid-column-end: 7;
	grid-row-start: 3;
	grid-row-end: 4;
}

.contact-wrapper {
	width: 100%;
	padding: 40px 0;
	background-color: rgba(39, 116, 47, 0.23);
}

.contact {
	width: 60%;
	margin: 0 auto;
}

.contact-header {
	text-align: center;
}

.contact-info {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.contact-info-part {
	text-align: center;
	margin: 20px 40px;
	flex-basis: 25%;
}

.footer {
	background-color: rgba(39, 116, 47, 1);
	padding: 60px 0;
	margin-top: 30px;
	color: white;
	text-align: center;
}

.up-button {
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 27px;
	height: 29px;
	padding: 10px;
	background-color: white;
	border-radius: 50%;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	cursor: pointer;
	transition: transform 0.2s ease-in-out;
}

.up-button:hover {
	transform: translateY(-5px);
}
