.hero, .hero-content, .hero-buttons, .nav-list, .hamburger-wrapper, .nav-list-mobile, .nav-list-mobile > .nav-item, .main-article, .categories, .category, .article-wrapper, .article-image-wrapper, .contact-info {
  display: flex;
  align-items: center;
  justify-content: center; }

.hero-button, .main-article .button, .categories .button {
  font-family: "Puritan", sans-serif;
  font-size: inherit;
  border-radius: 15px;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  transition: transform 0.2s ease-out; }
  .hero-button:hover, .main-article .button:hover, .categories .button:hover {
    transform: scale(1.1); }
  .primary-button.hero-button, .main-article .primary-button.button, .categories .primary-button.button {
    background-color: #27742f;
    color: white;
    margin-top: 20px; }
  .inverted-button.hero-button, .main-article .inverted-button.button, .categories .inverted-button.button {
    background-color: white;
    color: #27742f; }
  .secondary-button.hero-button, .main-article .secondary-button.button, .categories .secondary-button.button {
    background-color: #b3e8bc; }

.article-image.img-1, .article-image.img-2, .article-image.img-3 {
  width: 90%;
  height: 200px;
  min-width: 200px;
  background-size: cover; }

.frosted-glass:before, .hamburger-wrapper {
  background-color: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(1px); }

body {
  font-family: "Puritan", sans-serif;
  font-size: 18px; }

.hero-header {
  font-family: "Pattaya", sans-serif;
  font-size: 72px;
  color: white;
  font-size: 57.6px; }

h1 {
  font-family: "Pattaya", sans-serif;
  font-size: 36px;
  color: #27742f;
  font-size: 28.8px; }

h2 {
  font-family: "Pattaya", sans-serif;
  font-size: 28px;
  color: #27742f;
  font-size: 22.4px; }

h3 {
  font-family: "Pattaya", sans-serif;
  font-size: 24px;
  color: #27742f;
  font-size: 19.2px; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

a {
  color: #27742f;
  text-decoration: none; }

a:hover {
  color: #b3e8bc; }

.hero {
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("../../images/kwiaty.jpeg");
  background-size: cover;
  background-position: center; }

.hero-content {
  flex-direction: column;
  width: 90%;
  height: 80%;
  margin-top: 25px;
  text-align: center;
  position: relative; }

.frosted-glass {
  width: 90%;
  height: 80%;
  margin-top: 25px;
  position: absolute; }
  .frosted-glass:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }

.hero-header {
  display: none; }

.hero-content .hero-header {
  display: block;
  color: #27742f; }

.hero .main-header {
  width: 80%;
  margin: 40px; }

.hero-buttons {
  flex-direction: column; }

.hero-button {
  flex: 1;
  border-radius: 0;
  padding: 15px 20px;
  width: 200px;
  margin-top: 20px; }

@media only screen and (min-width: 480px) {
  .hero {
    height: 400px; }
  .frosted-glass {
    display: none; }
  .hero-header {
    color: white;
    display: block; }
  .hero-content {
    display: none; } }

.navbar {
  display: none;
  background-color: #f3f3f3;
  height: 50px;
  position: absolute;
  top: 350px;
  width: 100%; }

.nav-list {
  flex-direction: row;
  font-size: 20px;
  font-family: "Puritan", sans-serif; }

.nav-item {
  margin: 15px;
  text-align: center;
  text-transform: uppercase; }

.hamburger-wrapper {
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  z-index: 4; }

.menu-open {
  background-color: transparent;
  backdrop-filter: none; }

.hamburger-strip {
  width: 35px;
  height: 5px;
  background-color: #27742f;
  margin-top: 5px;
  z-index: 4;
  transition: transform 0.2s; }
  .hamburger-strip:first-of-type {
    margin-top: 0; }

.hamburger-strip.open:first-of-type {
  width: 20px;
  transform: rotate(-45deg) translate(-3px, 3px); }

.hamburger-strip.open:nth-of-type(2) {
  opacity: 0; }

.hamburger-strip.open:last-of-type {
  width: 20px;
  transform: rotate(45deg) translate(-3px, -3px); }

.navbar-mobile {
  display: block;
  background-color: white;
  width: 60%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 3;
  transition: left 0.2s ease-in; }

.show-menu {
  left: 0; }

.nav-list-mobile {
  flex-direction: column;
  height: 95%;
  color: #27742f; }
  .nav-list-mobile:first-child {
    margin-top: 25px; }
  .nav-list-mobile > .nav-item {
    flex-direction: row;
    flex: 1;
    width: 100%; }

@media only screen and (min-width: 480px) {
  .navbar {
    display: block; }
  .navbar-mobile {
    display: none; }
  .hamburger-wrapper {
    display: none; } }

@media only screen and (max-width: 768px) {
  .nav-list {
    font-size: 14px; } }

.main-article {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  flex-direction: column;
  margin-top: 440px;
  margin-bottom: 80px;
  text-align: center; }

.main-article > .text {
  line-height: 25px;
  font-size: 20px; }

@media only screen and (max-width: 768px) {
  .main-article > .text {
    font-size: 18px; } }

@media only screen and (max-width: 480px) {
  .main-article {
    margin-top: 100vh;
    width: 80%; } }

.categories-wrapper {
  width: 100%;
  background-color: #b3e8bc;
  margin-top: 40px;
  padding: 30px 0; }

.categories {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  flex-wrap: wrap; }

.category {
  flex-direction: column;
  flex: 1;
  flex-basis: 150px; }

.category-pic.pic-1 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid white;
  background-size: cover;
  background-image: url("../../images/petunia.jpeg"); }

.category-pic.pic-2 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid white;
  background-size: cover;
  background-image: url("../../images/pomidor.jpg"); }

.category-pic.pic-3 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid white;
  background-size: cover;
  background-image: url("../../images/bazylia.jpg"); }

.categories .button {
  width: 150px; }

@media only screen and (max-width: 768px) {
  .category-pic.pic-1 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid white;
    background-size: cover;
    background-image: url("../../images/petunia.jpeg"); }
  .category-pic.pic-2 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid white;
    background-size: cover;
    background-image: url("../../images/pomidor.jpg"); }
  .category-pic.pic-3 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid white;
    background-size: cover;
    background-image: url("../../images/bazylia.jpg"); }
  .categories .button {
    width: 100px;
    font-size: 14.4px;
    padding: 10px 15px; } }

@media only screen and (max-width: 480px) {
  .category {
    margin-bottom: 20px; } }

.article-section {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-top: 80px; }

.article-wrapper {
  margin-bottom: 30px; }

.article {
  flex: 1; }

.article-image-wrapper {
  justify-content: flex-end;
  flex: 1; }

.article-image.img-1 {
  background-image: url("../../images/cienie.jpg"); }

.article-image.img-2 {
  background-image: url("../../images/img_0008.jpg");
  background-position-y: 60%; }

.article-image.img-3 {
  background-image: url("../../images/ziola-na-balkonie.jpg"); }

@media only screen and (max-width: 768px) {
  .article-section {
    width: 80%; } }

@media only screen and (max-width: 480px) {
  .article-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
  .article-image-wrapper {
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px; } }

html,
body {
  margin: 0;
  padding: 0; }

.photo-gallery > .secondary-header {
  margin-top: 80px;
  padding: 20px 0;
  width: 100%;
  background-color: #27742f;
  color: white;
  text-align: center; }

.grid-gallery {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 500px;
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px; }

.photo {
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease-in; }

.photo:hover {
  transform: scale(1.2); }

.photo-1 {
  background-image: url("../../images/balkon-1.jpg");
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2; }

.photo-2 {
  background-image: url("../../images/balkon-2.jpg");
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2; }

.photo-3 {
  background-image: url("../../images/balkon-3.jpg");
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3; }

.photo-4 {
  background-image: url("../../images/balkon-4.jpg");
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2; }

.photo-5 {
  background-image: url("../../images/balkon-5.jpg");
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1; }

.photo-6 {
  background-image: url("../../images/balkon-6.jpeg");
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4; }

.photo-7 {
  background-image: url("../../images/balkon-7.jpg");
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3; }

.photo-8 {
  background-image: url("../../images/balkon-8.jpg");
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4; }

.photo-9 {
  background-image: url("../../images/balkon-9.jpg");
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3; }

.photo-10 {
  background-image: url("../../images/balkon-10.jpeg");
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 4; }

.contact-wrapper {
  width: 100%;
  padding: 30px 0;
  margin-top: 80px;
  background-color: #b3e8bc; }

.contact {
  margin-left: auto;
  margin-right: auto;
  width: 60%; }

.contact-header {
  text-align: center; }

.contact-info {
  width: 100%;
  flex-wrap: wrap; }

.contact-info-part {
  text-align: center;
  margin: 20px 40px;
  flex-basis: 25%; }

.footer {
  background-color: #27742f;
  padding: 60px 0;
  margin-top: 30px;
  color: white;
  text-align: center; }

.up-button {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 27px;
  height: 29px;
  padding: 10px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: transform 0.2s ease-in-out; }

.up-button:hover {
  transform: translateY(-5px); }

.hidden {
  display: none; }
