.hero {
	@include flex(row);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-image: url("../../images/kwiaty.jpeg");
	background-size: cover;
	background-position: center;
}

.hero-content {
	@include flex(column);
	width: 90%;
	height: 80%;
	margin-top: 25px;
	text-align: center;
	position: relative;
}

.frosted-glass {
	width: 90%;
	height: 80%;
	margin-top: 25px;
	position: absolute;

	&:before {
		content: "";
		@extend %frosted;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}

.hero-header {
	display: none;
}

.hero-content .hero-header {
	// @extend %on-frost;
	display: block;
	color: $main-color;
}

.hero .main-header {
	// @extend %on-frost;
	width: 80%;
	margin: 40px;
}

.hero-buttons {
	@include flex(column);
	// @extend %on-frost;
}

.hero-button {
	@extend %button;
	flex: 1;
	border-radius: 0;
	padding: 15px 20px;
	width: 200px;
	margin-top: 20px;
}

@media only screen and (min-width: $mobile) {
	.hero {
		height: 300px;
	}
	.frosted-glass {
		display: none;
	}
	.hero-header {
		color: $white;
		display: block;
	}
	.hero-content {
		display: none;
	}
}
